.main h2{

font-size:28px;

margin-bottom:20px;

}



.branch-summary{


display:flex;

margin-bottom:20px;


}



.branch-card{


background:white;

padding:20px;

width:220px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);


}



.branch-card h3{

color:#555;

font-size:16px;

}



.branch-card p{

font-size:30px;

font-weight:bold;

color:#3d40ce;

}




.form-box{


background:white;

padding:20px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

margin-bottom:20px;


}




.form-box input{


padding:12px;

width:300px;

margin:10px;

border:1px solid #ddd;

border-radius:8px;


}





.form-box button{


padding:12px 25px;

background:#3d40ce;

color:white;

border:none;

border-radius:8px;

cursor:pointer;


}



.form-box button:hover{

background:#2527a8;

}





#branchSearch{


width:300px;

padding:12px;

border-radius:8px;

border:1px solid #ddd;

margin-bottom:20px;


}




table{


width:100%;

background:white;

border-collapse:collapse;

box-shadow:
0 5px 15px rgba(0,0,0,.1);


}




th{


background:#3d40ce;

color:white;

padding:12px;


}




td{


padding:12px;

border-bottom:1px solid #eee;


}





tr:hover{


background:#f5f8ff;


}




table button{


padding:8px 15px;

border:none;

background:#3d40ce;

color:white;

border-radius:6px;

cursor:pointer;


}



.delete{


background:#dc3545;

}




@media(max-width:700px){



.form-box input,

#branchSearch{


width:100%;


}



table{


display:block;

overflow-x:auto;


}


}