*{
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{
margin:0;
}


/* MAIN BACKGROUND */

.login-body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#07182f;

color:white;

}



/* CONTAINER */

.login-container{

width:450px;

text-align:center;

}



/* LOGO */


.logo{

width:50px;

height:50px;

margin:auto;

background:#0866ff;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

font-weight:bold;

box-shadow:
0 5px 20px rgba(0,102,255,.5);

}



/* TITLE */


h1{

font-size:30px;

margin-top:25px;

margin-bottom:8px;

}



.subtitle{

color:#9db3d1;

font-size:14px;

margin-bottom:35px;

}




/* LOGIN CARD */


.login-box{


background:#172b45;


padding:40px;


border-radius:18px;


text-align:left;


box-shadow:

0 15px 40px rgba(0,0,0,.4);


}



/* LABEL */


label{

display:block;

margin-top:18px;

margin-bottom:8px;

font-weight:bold;

font-size:14px;

}





/* INPUT */


.input-box{


height:45px;

display:flex;

align-items:center;


background:#0b1c35;


border:1px solid #405574;


border-radius:12px;


padding:0 15px;


}



.input-box span{

color:#9ab1cc;

}



.input-box input{


flex:1;


background:none;


border:none;


outline:none;


padding:12px;


color:white;


font-size:15px;


}



.input-box input::placeholder{

color:#7890ad;

}



/* PASSWORD BUTTON */


.show-btn{


width:auto;


margin:0;


padding:0;


background:none;


font-size:16px;


}


.show-btn:hover{

background:none;

}



/* SMALL TEXT */


small{

display:block;

margin-top:8px;

color:#91aac8;

font-size:12px;

}




/* REMEMBER */


.remember{


display:flex;

align-items:center;

gap:8px;

font-weight:normal;

margin-top:20px;

}



.remember input{

width:16px;

height:16px;

}




/* LOGIN BUTTON */


.login-btn{


width:100%;


margin-top:25px;


padding:14px;


background:#0866ff;


border:none;


border-radius:12px;


color:white;


font-size:16px;


font-weight:bold;


cursor:pointer;


}



.login-btn:hover{


background:#0052cc;


}





#error{

text-align:center;

color:#ff7070;

margin-top:15px;

}





hr{

border:none;

border-top:1px solid #31455e;

margin:25px 0;

}




a{


display:block;

text-align:center;

color:#00aaff;

text-decoration:none;

font-size:14px;


}




a:hover{

text-decoration:underline;

}




/* MOBILE */


@media(max-width:600px){


.login-container{

width:90%;

}


.login-box{

padding:25px;

}


h1{

font-size:25px;

}


}