body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.login-btn{
    background:#007bff;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:45px;
}

.hero p{
    font-size:20px;
    color:#555;
}

.start-btn{
    display:inline-block;
    margin-top:20px;
    background:green;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:30px;
}

.feature-card{
    background:white;
    width:250px;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 2px 10px #ccc;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
}